body {
    font-family: Arial, Helvetica, sans-serif;
}

.conditions {
    width: 500px;
    margin: 20px auto;
}

.center-ps {
    margin: 0 auto;
    text-align: center;
}

.one-condition {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
}

.submit-button {
    padding: 10px;
    border: 1px solid burlywood;
    background-color: burlywood;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    border: 1px solid brown;
    background-color: brown;
}